.set {
    overflow-y: visible;
    height: 80%;
    width: 30%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
    z-index: 4;
    margin-top: .3em;
    margin-left: .3em;
}